body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url("pexels-photo-1809967.jpeg");

}

.container {
    display: flex;
    position: absolute;
    top: 100px;
    left: 300px;
}

.container .control-speed {
    margin-left: 15px;
    color: white;
    text-align: center;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    background: #fff;
}

.container .control-speed .speed-bar {
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.container .control-speed .speed-bar span {
    position: relative;
    top: 45%;
}
